body {margin:0;padding:0;width:550px;height:600px;}
ul,ol{
	list-style: none;
}
ul,ol,p,h1,h2,h3,h4,h6,h6,dt,dl,dd{margin:0;padding: 0}
body {
	font: 14px/1.5 Arial, sans-serif;
	color:#333;
}
.hidden {
	display: none;
}

.arrow-part{
	position: absolute;
	width: 0;
	height: 0;
	font-size: 0;
}
	


	.cur_con_song {
		height: 115px;
		background-image: linear-gradient(#f3f3f3,#eee);
		border-bottom: 2px solid #aaa;
		overflow: hidden;
	}
		.csong_song_image{
			width: 49px;
			height: 49px;
			float: left;
			margin-right: 10px;
		}
			.csong_song_image img {
				width: 100%;
				height: 100%;
			}
	.main_container {
		height: 483px;
		overflow: auto;
	}
	.cur_con_playlist {
		
	}

		.song_item{
			padding: 0.2rem 0.4rem;
			overflow: hidden;
			height: 40px;
		}
		.playlist_con .song_item:nth-of-type(even){
			background: #eee;
		}
		.playlist_con .song_item:hover{
			background: #fafafa;
		}
			.song_item .song_item-buttons{
				float:left;
				width:40px;
			}
			.song_item .song_item-fullname{
				margin-left: 40px;
			}
			.song_item-artistname {
				color: #424242;
			}
		.current_song {

		}
			.current_song-main_body {
				height: 52px;
				overflow: hidden;
			}
			.current_song .actionsrow {
				
			}

			.song-actions {
				margin-top: 0.5rem;
			}
				.spec_song_buttons {
					float:left;
				}
				.song_options {
					float:right;
				}
		.current_song {

		}
		.files_block{
			
			height: 23px;
			clear: both;
			padding: 3px;
			overflow: hidden;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #f7f7f7;
			background:#e9e9e9;

		}
		.current_mopla_con {
			font-size: 0.72rem;
		}
		.files_list_switch{
			float:right;
			padding:0 0.25rem;
			border-radius: 0.2rem;
			margin-left: 0.25rem;
			cursor: pointer;
		}
			.files_list_switch:hover{
				background: #ccc;
			}
			.files_list_switch:active {
				background: #ddd;
			}

		.files_popup_wrap {
			padding:  15px 1px;
			top:11px;
			position: absolute;
			background: #E7E7E7;
			border-bottom: 1px solid #D8D8D8;
			border-top: 1px solid #D8D8D8;
			border-radius:0.5rem;
			z-index: 5;


			left:0;
			right:0;
			
		}
		.files_popup {
			
			padding: 1rem 0;
			
			height: 446px;
			overflow: auto;

			
		}
		.files_popup_con {
			display: none;
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		}
		.want_more_songs.files_popup_con {
			display: block;

		}

		.current_song-arrow{
			z-index: 6;
			right: 10px;	
			top:-11px;
			border: 11px solid;
			border-color: transparent   transparent  #D8D8D8 transparent ;
		}
		.current_song-arrow-bg {
			top: -10px;
			left: -11px;
			border: 11px solid;
			border-color: transparent transparent #E7E7E7 transparent  ;
			}



.volume-control{
	margin-top: -3px;
	padding: 6px 6px 6px 22px;
	width: 62px;
	height: 8px;
	border: 1px solid #bbb;
	border-radius: 10px;
	background: #fff url(chrome-extension://__MSG_@@extension_id__/i/icon-volume.png) no-repeat 3px 50%;
	}

	.volume-control:hover{
		border-color: #aaa;
		background-color: #eee;
		}
	.v-hole{
		position: relative;
		border: 1px solid transparent;
		border-top: 1px solid #aaa;
		border-bottom: 1px solid #bbb;
		border-radius: 3px;
		background: #ccc;
		}
		.v-bar{
			height: 6px;
			border: 1px solid transparent;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #eee;
			border-radius: 3px;
			background: #fff;
			}
		.volume-control:hover .v-bar{
			background-color: #eee;
		}
	.volume-control.interactive-state{
		border-color:transparent;
		background-color:transparent;
		}
.actionsrow {
	padding-right:0.5rem;
}
	.track-buttons {
		float:left;
		padding-right: 5px;
	}
		.track-buttons > li {
			float: left;
			margin-left: 6px;
			width: 16px;
			height: 16px;
			border-radius: 2px;
			line-height: 16px;
		}


		.trackbutton {
			display: block;
			width: 16px;
			height: 16px;
			border-bottom: 0;
			border-radius: 4px;
			line-height: inherit;
			cursor: pointer;
		}
			.lfm-scrobbling-button {
				background: transparent url(chrome-extension://__MSG_@@extension_id__/i/icon-lfm.png) no-repeat 50% 50%;
			}
			.play_prev {
				border-radius: 8px;
				background: transparent url(chrome-extension://__MSG_@@extension_id__/i/icon-play_prev-16.png) no-repeat 50% 50%;
			}
			.play_next {
				border-radius: 8px;
				background: transparent url(chrome-extension://__MSG_@@extension_id__/i/icon-play_next-16.png) no-repeat 50% 50%;
			}
			.love_button {
				border-radius: 8px;
				background: transparent url(chrome-extension://__MSG_@@extension_id__/i/icon-love-16.png) no-repeat 50% 50%;
			}

		.trackbutton:hover{
			background-color: #ccc;
			}
			.trackbutton:active{
				background-position: 0 1px;
				box-shadow: inset 0 0 2px 1px #999;
				}
		
		.volume-control {
			float:left;
		}
	.song-row-content {
		position: absolute;
		top:113px;
		z-index: 5;
		left:0;
		right:0;
		
		
		background: #eee;
		border-radius: 6px;
		border: 1px solid #999;
		
	}	
	.song-row-content_scroll_wrapper {
		max-height: 440px;
		overflow: auto;
		padding: 1rem;
	}
		.rc-arrow {
			position: absolute;
			top: -11px;
			margin-left: -11px;
			height: 11px;
			width: 22px;
			overflow: hidden;
		}
		.rc-s-arrow{
			z-index: 6;
			top:-11px;
			border: 11px solid;
			border-color: transparent   transparent  #999 transparent ;
			}
			.rc-s-arrow-bg {
				top: -10px;
				left: -11px;
				border: 11px solid;
				border-color: transparent transparent #eee transparent  ;
				}



/* scrobbling */
	.has_session .scrobbling-switches{ 
		opacity:1;
		}

	.scrobbling-switches{
		opacity:0.3;
		
		}
	.lfm-finish{
		display:none;
		opacity:0.3;
	}
	.deep-sandbox .lfm-finish{
		display:block;
	}
	.lfm-finish .lfm-code{
		margin-right: 1.72rem;
		width: 314px;
	}
	.waiting-auth .lfm-finish{
		opacity:1;
	}
	.lfm-auth p{
		margin:0.3rem 0;
		}
	.lfm-auth .real-lfm-auth-part{
		margin-bottom:20px;
	}
	.lfm-auth-module .auth-block{
		overflow: hidden;
	}

	.login-lastfm-button,.lastfm-auth-bp{
		float:right;
		margin-left:1rem;
	}

	.lfm-auth form{
		margin-bottom:2.5rem;
		padding-bottom:1rem;
		}


/*nice buttons*/
	.disabledbutton, .nicebutton{
		display:block;
		padding:3px 11px;
		border-top:1px solid transparent;
		border-bottom: 1px solid transparent;
		border-radius:11px;
		text-decoration:none;
		font-style:normal;
	}

	.nicebutton{ 
		border-top:1px solid #626262;
		border-right: 0;
		border-bottom:1px solid #3D3D3D;
		border-left: 0;
		background-image: -o-linear-gradient(#5a5a5a,#4a4a4a);
		background-image: -moz-linear-gradient(100% 0% 270deg, #5a5a5a, #4a4a4a);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5a5a5a), to(#4a4a4a));
		background-image: linear-gradient(#5a5a5a,#4a4a4a);
		color:#aaa;
		cursor:pointer;
			
		}
		.nicebutton:hover{
			background-image: -o-linear-gradient(#5a5a5a,#444);
			background-image: -moz-linear-gradient(100% 0% 270deg, #5a5a5a, #444);
			background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5a5a5a), to(#444)) ;
			background-image: linear-gradient(#5a5a5a,#444);
			}
	.nicebutton:active{
		box-shadow:inset 0 0 10px 1px #111;
		}
		.nicebutton:active{
			padding-top:4px;
			padding-bottom:4px;
			border-width:0;
			border-color:transparent;
		}
.welcome_popblock {
	padding:1rem;
	overflow: hidden;
}
	.wecome_popular_artist a {
		display: block;
		height: 40px;
		float: left;
		width: 210px;
		background: #f5f5f5;
		margin-right: 5px;
		margin-bottom: 5px;
		border-radius: 6px;
		padding: 5px;
		color: #000;
		text-decoration: none;
		overflow: hidden;
		}
		.wecome_popular_artist a:hover {
			background-color: #5C7FDA;
			color:#fff;
		}
			.wecome_popular_artist a:hover .www_mark {
				color: #eee;
			}
		.wecome_popular_artist a:active {
			background-color: #333;
			color:#fff;
		}
	.www_mark {
		color:#888;
	}

.song_item-artistname:hover {
	cursor: pointer;
	color:blue;
	text-decoration: underline;
}
.song_item-trackname:hover {
	cursor: pointer;
	color:blue;
	text-decoration: underline;
}

.disabledbutton {
	color:#888;
}

.dmca_notice{
	font-size: 0.8rem;
	color:#999;
	display: none;
	padding: 0.5rem 1rem 1rem;
	padding-left: 3.2rem;
	}
	.want_more_songs .dmca_notice{
		display: block;
	}
.dmca_url{
	float: right;
	margin-right: 1rem;
	display: none;
	font-size: 0.8rem;
	}
	.want_more_songs .dmca_url{
		display: block;
	}
.moplas_source-tuner {
	background: #535353;
	border-top: 1px solid #4f4f4f;
	border-bottom: 1px solid #646464;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.moplas_source-unavailable {
	color: #666;
}
.moplas_source-icon {
	background: transparent no-repeat url(../i/icon-gear.svg);
	height: 1.14rem;
	width: 1.14rem;
	display: block;
	
	cursor: pointer;
	border-radius: 0.3rem;

	}
	.moplas_source-icon:hover {
		background-color: #666;
		}
	.moplas_source-icon:active {
		background-color: #444;
		}
.moplas_source-icon {
	float: left;
	margin-right: 0.2rem;
	position: relative;
	top: 0.15rem;
	}
.moplas-block-shift {
	padding-left: 3.2rem;
}

.moplas-list li.overstocked{
		display: none;
		}
	
.want_more_songs .moplas-list.want-overstocked-songs .overstocked{
	display: block;
}