.play_button {
	display: block;
	border-radius: 16px;
	height: 16px;
	width: 16px;
	background: #fff;
	border: 1px solid #999;
	cursor: pointer;
	position: relative;
	top:2px;
	box-sizing: content-box;
}
.play_button:hover {
	border-color:#ccc;
}
.play_button:active {
	border-color: #555;
}
.play_button.wanted_song{
	border-style: dashed;
}

.play_button.player_song {
	border-color: #333;
}
.play_button_icon {
	display: block;
	background: no-repeat url(chrome-extension://__MSG_@@extension_id__/i/icon-untouched-16.png) 50% 50%;
	height: 16px;
	width: 16px;
}

.has-none-files {
	background-image: url(chrome-extension://__MSG_@@extension_id__/i/icon-failed-16.png);
}
.has-some-files {
	background-image: url(chrome-extension://__MSG_@@extension_id__/i/icon-finded-16.png);
	
}
.pbicon-playing_song {
	background-image: url(chrome-extension://__MSG_@@extension_id__/i/icon-playing-16.png);
}

.searching_files-base {
	display: block;
	
	height: 16px;
	width: 16px;
	
}
.searching_files-progress {
	background: no-repeat url(chrome-extension://__MSG_@@extension_id__/i/spinner-16.gif) 50% 50%;
}

#content .chartlist .chartlist-play {
	min-width: 64px;
}

.grid-items-item--artist .play_button,
.grid-items-item .play_button{
	position: absolute;
	right: 16px;
	top:16px;
}

.album-grid-item .play_button {
	position: absolute;
	right: 16px;
	bottom: 16px;
}